* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: no-repeat center center fixed;
	background-blend-mode: saturation;
	transition: linear background-image 1.5s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#preload {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}

#clock {
	position: fixed;
	/*display: inline-block;*/
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.5em 6em;
	/*font-family: 'Jura', sans-serif;*/
	line-height: 325%;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 0 0 1em 1em;
}

#time {
	display: block;
	font-size: 5em;
}

#day {
	display: block;
	font-size: 2em;
}

#date {
	display: block;
	font-size: 2em;
}

.blink {
   color: #eceff1;
   -webkit-animation: blink 1000ms step-end infinite;
   animation: blink 1000ms step-end infinite;
}

@-webkit-keyframes blink {
 	50% {
		color: #f3f3f3;
	}
}

@keyframes blink {
	50% {
		color: #f3f3f3;
	}
}

#optionsBtn, #refreshBtn {
    position: fixed;
	width: 3em;
    height: 3em;
	bottom: 2em;
    cursor: pointer;
	background-color: rgba(0,0,0,0.3);
	background-repeat: no-repeat;
	background-position: center center;
	padding: 10px;
	transition: all .4s;
	border-radius: 50%;
}

#optionsBtn {
    left: 2em;
	background-image: url('https://api.iconify.design/ic-settings.svg?color=%23fff&height=32');
}

#refreshBtn {
    right: 2em;
	background-image: url('https://api.iconify.design/ic-refresh.svg?color=%23fff&height=32');
}

#optionsBtn:hover, #refreshBtn:hover {
	transform: translateY(-10px);
}

#search {
	position: fixed;
    /*display: inline-block;*/
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
	width: 50%;
	color: white;
}

#searchTerm {
	background-color: rgba(0,0,0,0.3);
	color: white;
	font-size: 2em;
	padding: 10px 1em;
	border-radius: 1em 0 0 1em;
	outline: none;
	border-left: 2px solid grey;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	border-right: none;
}

#searchButton {
	position: absolute;
	width: 3em;
    height: 52px;
	cursor: pointer;
	font-size: 2em;
    background-color: rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    background-position: center center;
	background-image: url('https://api.iconify.design/ic-search.svg?color=%23fff&height=32');
	padding: 10px;
    border-radius: 0 1em 1em 0;
	border: none;
	border-right: 2px solid grey;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
	border-left: none;
	transition: all .4s;
}

#searchButton:hover {
	transform: translateX(-10px);
}

input::placeholder { color: white; }

#linksContainer {
	position: fixed;
    top: 25%;
    transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.link {
    text-align: center;
    width: 160px;
    height: 160px;
    transition: all .4s;
    cursor: pointer;
    margin-bottom: 20px;
}

.linkImg {
    width: 60%;
    height: 60%;
    position: relative;
    border-radius: 1em;
	background: rgba(0, 0, 0, 0.3);
    transition: all .3s;
    margin: 0 20%;
	padding: 10px;
}

.linkText {
    display: inline-block;
	left: 1em;
    opacity: 0;
	font-size: larger;
    color: white;
    position: relative;
    margin: 8px auto 0 auto;
    padding: 5px;
    border-radius: 8px;
    border-color: black;
	background: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    transition: all .3s;
}

.link:hover * {
    transform: translateY(-20px);
}

.link:hover img {
    filter: brightness(80%);
}

.link:hover .linkText {
    opacity: 1;
}

@media (max-width: 1024px) {
    .link {
        min-width: calc(12%);
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .link {
        min-width: calc(15%);
        margin-top: 25px;
    }
}
