* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: no-repeat center center fixed;
	background-blend-mode: saturation;
	transition: linear background-image 1.5s;
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
}

body {
	height: 100%;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
}

#clock {
	position: fixed;
	/*display: inline-block;*/
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0.5em 6em;
	font-family: 'IBM Plex Mono', monospace;
	line-height: 325%;
	color: #fff;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0 0 1em 1em;
}

#time {
	display: block;
	font-size: 5em;
}

#day {
	display: block;
	font-size: 2em;
}

#date {
	display: block;
	font-size: 2em;
}

.blink {
   color: #eceff1;
   -webkit-animation: blink 1000ms step-end infinite;
   animation: blink 1000ms step-end infinite;
}

@-webkit-keyframes blink {
 	50% {
		color: #f3f3f3;
	}
}

@keyframes blink {
	50% {
		color: #f3f3f3;
	}
}

#optionsBtn, #refreshBtn {
    opacity: 1;
    position: fixed;
	font-size: 3em;
    color: white;
    cursor: pointer;
}

#optionsBtn {
	bottom: 1em;
    left: 1em;
}

#refreshBtn {
	bottom: 1em;
    right: 1em;
}

#optionsBtn:hover, #refreshBtn:hover {
    opacity: 0.4;
}

#linksContainer {
	height: 100%;
	width: 80%;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    justify-content: space-evenly;
	/*justify-content: center;*/
}

.link {
    text-align: center;
    width: 160px;
    height: 160px;
    transition: all .4s;
    cursor: pointer;
    margin-bottom: 20px;
}

.linkImg {
    width: 60%;
    height: 60%;
    position: relative;
    border-radius: 1em;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, .23);*/
	background: rgba(0, 0, 0, 0.2);
    transition: all .3s;
    margin: 0 20%;
	padding: 10px;
}

.linkText {
    display: inline-block;
	left: 1em;
    opacity: 0;
    color: white;
    position: relative;
    margin: 8px auto 0 auto;
    padding: 5px;
    border-radius: 8px;
    border-color: black;
    /*background-color: rgba(59, 59, 59, 0.8);*/
	background: rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    transition: all .3s;
}

.link:hover * {
    transform: translateY(-20px);
}

.link:hover img {
    filter: brightness(80%);
}

.link:hover .linkText {
    opacity: 1;
}

@media (max-width: 1024px) {
    .link {
        min-width: calc(12%);
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .link {
        min-width: calc(15%);
        margin-top: 25px;
    }
}
